APP_ENV=development
DEBUG=true
WIDGET_1_NAME=Widget_1
WIDGET_1_PRICE=5.33
WIDGET_2_NAME=Widget_2
WIDGET_2_PRICE=7.67
WIDGET_3_NAME=Widget_3
WIDGET_3_PRICE=10.0
WIDGET_4_NAME=Widget_4
WIDGET_4_PRICE=12.33
WIDGET_5_NAME=Widget_5
WIDGET_5_PRICE=14.67
WIDGET_6_NAME=Widget_6
WIDGET_6_PRICE=17.0
WIDGET_7_NAME=Widget_7
WIDGET_7_PRICE=19.33
WIDGET_8_NAME=Widget_8
WIDGET_8_PRICE=21.67
WIDGET_9_NAME=Widget_9
WIDGET_9_PRICE=24.0
WIDGET_10_NAME=Widget_10
WIDGET_10_PRICE=26.33
WIDGET_11_NAME=Widget_11
WIDGET_11_PRICE=28.67
WIDGET_12_NAME=Widget_12
WIDGET_12_PRICE=31.0
WIDGET_13_NAME=Widget_13
WIDGET_13_PRICE=33.33
WIDGET_14_NAME=Widget_14
WIDGET_14_PRICE=35.67
WIDGET_15_NAME=Widget_15
WIDGET_15_PRICE=38.0
WIDGET_16_NAME=Widget_16
WIDGET_16_PRICE=40.33
WIDGET_17_NAME=Widget_17
WIDGET_17_PRICE=42.67
WIDGET_18_NAME=Widget_18
WIDGET_18_PRICE=45.0
WIDGET_19_NAME=Widget_19
WIDGET_19_PRICE=47.33
WIDGET_20_NAME=Widget_20
WIDGET_20_PRICE=49.67
WIDGET_21_NAME=Widget_21
WIDGET_21_PRICE=52.0
WIDGET_22_NAME=Widget_22
WIDGET_22_PRICE=54.33
WIDGET_23_NAME=Widget_23
WIDGET_23_PRICE=56.67
WIDGET_24_NAME=Widget_24
WIDGET_24_PRICE=59.0
WIDGET_25_NAME=Widget_25
WIDGET_25_PRICE=61.33
WIDGET_26_NAME=Widget_26
WIDGET_26_PRICE=63.67
WIDGET_27_NAME=Widget_27
WIDGET_27_PRICE=66.0
WIDGET_28_NAME=Widget_28
WIDGET_28_PRICE=68.33
WIDGET_29_NAME=Widget_29
WIDGET_29_PRICE=70.67
WIDGET_30_NAME=Widget_30
WIDGET_30_PRICE=73.0
WIDGET_31_NAME=Widget_31
WIDGET_31_PRICE=75.33
WIDGET_32_NAME=Widget_32
WIDGET_32_PRICE=77.67
WIDGET_33_NAME=Widget_33
WIDGET_33_PRICE=80.0
WIDGET_34_NAME=Widget_34
WIDGET_34_PRICE=82.33
WIDGET_35_NAME=Widget_35
WIDGET_35_PRICE=84.67
WIDGET_36_NAME=Widget_36
WIDGET_36_PRICE=87.0
WIDGET_37_NAME=Widget_37
WIDGET_37_PRICE=89.33
WIDGET_38_NAME=Widget_38
WIDGET_38_PRICE=91.67
WIDGET_39_NAME=Widget_39
WIDGET_39_PRICE=94.0
WIDGET_40_NAME=Widget_40
WIDGET_40_PRICE=96.33
WIDGET_41_NAME=Widget_41
WIDGET_41_PRICE=98.67
WIDGET_42_NAME=Widget_42
WIDGET_42_PRICE=101.0
WIDGET_43_NAME=Widget_43
WIDGET_43_PRICE=103.33
WIDGET_44_NAME=Widget_44
WIDGET_44_PRICE=105.67
WIDGET_45_NAME=Widget_45
WIDGET_45_PRICE=108.0
WIDGET_46_NAME=Widget_46
WIDGET_46_PRICE=110.33
WIDGET_47_NAME=Widget_47
WIDGET_47_PRICE=112.67
WIDGET_48_NAME=Widget_48
WIDGET_48_PRICE=115.0
WIDGET_49_NAME=Widget_49
WIDGET_49_PRICE=117.33
WIDGET_50_NAME=Widget_50
WIDGET_50_PRICE=119.67
WIDGET_51_NAME=Widget_51
WIDGET_51_PRICE=122.0
WIDGET_52_NAME=Widget_52
WIDGET_52_PRICE=124.33
WIDGET_53_NAME=Widget_53
WIDGET_53_PRICE=126.67
WIDGET_54_NAME=Widget_54
WIDGET_54_PRICE=129.0
WIDGET_55_NAME=Widget_55
WIDGET_55_PRICE=131.33
WIDGET_56_NAME=Widget_56
WIDGET_56_PRICE=133.67
WIDGET_57_NAME=Widget_57
WIDGET_57_PRICE=136.0
WIDGET_58_NAME=Widget_58
WIDGET_58_PRICE=138.33
WIDGET_59_NAME=Widget_59
WIDGET_59_PRICE=140.67
WIDGET_60_NAME=Widget_60
WIDGET_60_PRICE=143.0
WIDGET_61_NAME=Widget_61
WIDGET_61_PRICE=145.33
WIDGET_62_NAME=Widget_62
WIDGET_62_PRICE=147.67
WIDGET_63_NAME=Widget_63
WIDGET_63_PRICE=150.0
WIDGET_64_NAME=Widget_64
WIDGET_64_PRICE=152.33
WIDGET_65_NAME=Widget_65
WIDGET_65_PRICE=154.67
WIDGET_66_NAME=Widget_66
WIDGET_66_PRICE=157.0
WIDGET_67_NAME=Widget_67
WIDGET_67_PRICE=159.33
WIDGET_68_NAME=Widget_68
WIDGET_68_PRICE=161.67
WIDGET_69_NAME=Widget_69
WIDGET_69_PRICE=164.0
WIDGET_70_NAME=Widget_70
WIDGET_70_PRICE=166.33
WIDGET_71_NAME=Widget_71
WIDGET_71_PRICE=168.67
WIDGET_72_NAME=Widget_72
WIDGET_72_PRICE=4.33
WIDGET_73_NAME=Widget_73
WIDGET_73_PRICE=6.67
WIDGET_74_NAME=Widget_74
WIDGET_74_PRICE=9.0
WIDGET_75_NAME=Widget_75
WIDGET_75_PRICE=11.33
WIDGET_76_NAME=Widget_76
WIDGET_76_PRICE=13.67
WIDGET_77_NAME=Widget_77
WIDGET_77_PRICE=16.0
WIDGET_78_NAME=Widget_78
WIDGET_78_PRICE=18.33
WIDGET_79_NAME=Widget_79
WIDGET_79_PRICE=20.67
WIDGET_80_NAME=Widget_80
WIDGET_80_PRICE=23.0
WIDGET_81_NAME=Widget_81
WIDGET_81_PRICE=25.33
WIDGET_82_NAME=Widget_82
WIDGET_82_PRICE=27.67
WIDGET_83_NAME=Widget_83
WIDGET_83_PRICE=30.0
WIDGET_84_NAME=Widget_84
WIDGET_84_PRICE=32.33
WIDGET_85_NAME=Widget_85
WIDGET_85_PRICE=34.67
WIDGET_86_NAME=Widget_86
WIDGET_86_PRICE=37.0
WIDGET_87_NAME=Widget_87
WIDGET_87_PRICE=39.33
WIDGET_88_NAME=Widget_88
WIDGET_88_PRICE=41.67
WIDGET_89_NAME=Widget_89
WIDGET_89_PRICE=44.0
WIDGET_90_NAME=Widget_90
WIDGET_90_PRICE=46.33
WIDGET_91_NAME=Widget_91
WIDGET_91_PRICE=48.67
WIDGET_92_NAME=Widget_92
WIDGET_92_PRICE=51.0
WIDGET_93_NAME=Widget_93
WIDGET_93_PRICE=53.33
WIDGET_94_NAME=Widget_94
WIDGET_94_PRICE=55.67
WIDGET_95_NAME=Widget_95
WIDGET_95_PRICE=58.0
WIDGET_96_NAME=Widget_96
WIDGET_96_PRICE=60.33
WIDGET_97_NAME=Widget_97
WIDGET_97_PRICE=62.67
WIDGET_98_NAME=Widget_98
WIDGET_98_PRICE=65.0
WIDGET_99_NAME=Widget_99
WIDGET_99_PRICE=67.33
WIDGET_100_NAME=Widget_100
WIDGET_100_PRICE=69.67
WIDGET_101_NAME=Widget_101
WIDGET_101_PRICE=72.0
WIDGET_102_NAME=Widget_102
WIDGET_102_PRICE=74.33
WIDGET_103_NAME=Widget_103
WIDGET_103_PRICE=76.67
WIDGET_104_NAME=Widget_104
WIDGET_104_PRICE=79.0
WIDGET_105_NAME=Widget_105
WIDGET_105_PRICE=81.33
WIDGET_106_NAME=Widget_106
WIDGET_106_PRICE=83.67
WIDGET_107_NAME=Widget_107
WIDGET_107_PRICE=86.0
WIDGET_108_NAME=Widget_108
WIDGET_108_PRICE=88.33
WIDGET_109_NAME=Widget_109
WIDGET_109_PRICE=90.67
WIDGET_110_NAME=Widget_110
WIDGET_110_PRICE=93.0
WIDGET_111_NAME=Widget_111
WIDGET_111_PRICE=95.33
WIDGET_112_NAME=Widget_112
WIDGET_112_PRICE=97.67
WIDGET_113_NAME=Widget_113
WIDGET_113_PRICE=100.0
WIDGET_114_NAME=Widget_114
WIDGET_114_PRICE=102.33
WIDGET_115_NAME=Widget_115
WIDGET_115_PRICE=104.67
WIDGET_116_NAME=Widget_116
WIDGET_116_PRICE=107.0
WIDGET_117_NAME=Widget_117
WIDGET_117_PRICE=109.33
WIDGET_118_NAME=Widget_118
WIDGET_118_PRICE=111.67
WIDGET_119_NAME=Widget_119
WIDGET_119_PRICE=114.0
WIDGET_120_NAME=Widget_120
WIDGET_120_PRICE=116.33
WIDGET_121_NAME=Widget_121
WIDGET_121_PRICE=118.67
WIDGET_122_NAME=Widget_122
WIDGET_122_PRICE=121.0
WIDGET_123_NAME=Widget_123
WIDGET_123_PRICE=123.33
WIDGET_124_NAME=Widget_124
WIDGET_124_PRICE=125.67
WIDGET_125_NAME=Widget_125
WIDGET_125_PRICE=128.0
WIDGET_126_NAME=Widget_126
WIDGET_126_PRICE=130.33
WIDGET_127_NAME=Widget_127
WIDGET_127_PRICE=132.67
WIDGET_128_NAME=Widget_128
WIDGET_128_PRICE=135.0
WIDGET_129_NAME=Widget_129
WIDGET_129_PRICE=137.33
WIDGET_130_NAME=Widget_130
WIDGET_130_PRICE=139.67
WIDGET_131_NAME=Widget_131
WIDGET_131_PRICE=142.0
WIDGET_132_NAME=Widget_132
WIDGET_132_PRICE=144.33
WIDGET_133_NAME=Widget_133
WIDGET_133_PRICE=146.67
WIDGET_134_NAME=Widget_134
WIDGET_134_PRICE=149.0
WIDGET_135_NAME=Widget_135
WIDGET_135_PRICE=151.33
WIDGET_136_NAME=Widget_136
WIDGET_136_PRICE=153.67
WIDGET_137_NAME=Widget_137
WIDGET_137_PRICE=156.0
WIDGET_138_NAME=Widget_138
WIDGET_138_PRICE=158.33
WIDGET_139_NAME=Widget_139
WIDGET_139_PRICE=160.67
WIDGET_140_NAME=Widget_140
WIDGET_140_PRICE=163.0
WIDGET_141_NAME=Widget_141
WIDGET_141_PRICE=165.33
WIDGET_142_NAME=Widget_142
WIDGET_142_PRICE=167.67
WIDGET_143_NAME=Widget_143
WIDGET_143_PRICE=3.33
WIDGET_144_NAME=Widget_144
WIDGET_144_PRICE=5.67
WIDGET_145_NAME=Widget_145
WIDGET_145_PRICE=8.0
WIDGET_146_NAME=Widget_146
WIDGET_146_PRICE=10.33
WIDGET_147_NAME=Widget_147
WIDGET_147_PRICE=12.67
WIDGET_148_NAME=Widget_148
WIDGET_148_PRICE=15.0
WIDGET_149_NAME=Widget_149
WIDGET_149_PRICE=17.33
WIDGET_150_NAME=Widget_150
WIDGET_150_PRICE=19.67
WIDGET_151_NAME=Widget_151
WIDGET_151_PRICE=22.0
WIDGET_152_NAME=Widget_152
WIDGET_152_PRICE=24.33
WIDGET_153_NAME=Widget_153
WIDGET_153_PRICE=26.67
WIDGET_154_NAME=Widget_154
WIDGET_154_PRICE=29.0
WIDGET_155_NAME=Widget_155
WIDGET_155_PRICE=31.33
WIDGET_156_NAME=Widget_156
WIDGET_156_PRICE=33.67
WIDGET_157_NAME=Widget_157
WIDGET_157_PRICE=36.0
WIDGET_158_NAME=Widget_158
WIDGET_158_PRICE=38.33
WIDGET_159_NAME=Widget_159
WIDGET_159_PRICE=40.67
WIDGET_160_NAME=Widget_160
WIDGET_160_PRICE=43.0
WIDGET_161_NAME=Widget_161
WIDGET_161_PRICE=45.33
WIDGET_162_NAME=Widget_162
WIDGET_162_PRICE=47.67
WIDGET_163_NAME=Widget_163
WIDGET_163_PRICE=50.0
WIDGET_164_NAME=Widget_164
WIDGET_164_PRICE=52.33
WIDGET_165_NAME=Widget_165
WIDGET_165_PRICE=54.67
WIDGET_166_NAME=Widget_166
WIDGET_166_PRICE=57.0
WIDGET_167_NAME=Widget_167
WIDGET_167_PRICE=59.33
WIDGET_168_NAME=Widget_168
WIDGET_168_PRICE=61.67
WIDGET_169_NAME=Widget_169
WIDGET_169_PRICE=64.0
WIDGET_170_NAME=Widget_170
WIDGET_170_PRICE=66.33
WIDGET_171_NAME=Widget_171
WIDGET_171_PRICE=68.67
WIDGET_172_NAME=Widget_172
WIDGET_172_PRICE=71.0
WIDGET_173_NAME=Widget_173
WIDGET_173_PRICE=73.33
WIDGET_174_NAME=Widget_174
WIDGET_174_PRICE=75.67
WIDGET_175_NAME=Widget_175
WIDGET_175_PRICE=78.0
WIDGET_176_NAME=Widget_176
WIDGET_176_PRICE=80.33
WIDGET_177_NAME=Widget_177
WIDGET_177_PRICE=82.67
WIDGET_178_NAME=Widget_178
WIDGET_178_PRICE=85.0
WIDGET_179_NAME=Widget_179
WIDGET_179_PRICE=87.33
WIDGET_180_NAME=Widget_180
WIDGET_180_PRICE=89.67
WIDGET_181_NAME=Widget_181
WIDGET_181_PRICE=92.0
WIDGET_182_NAME=Widget_182
WIDGET_182_PRICE=94.33
WIDGET_183_NAME=Widget_183
WIDGET_183_PRICE=96.67
WIDGET_184_NAME=Widget_184
WIDGET_184_PRICE=99.0
WIDGET_185_NAME=Widget_185
WIDGET_185_PRICE=101.33
WIDGET_186_NAME=Widget_186
WIDGET_186_PRICE=103.67
WIDGET_187_NAME=Widget_187
WIDGET_187_PRICE=106.0
WIDGET_188_NAME=Widget_188
WIDGET_188_PRICE=108.33
WIDGET_189_NAME=Widget_189
WIDGET_189_PRICE=110.67
WIDGET_190_NAME=Widget_190
WIDGET_190_PRICE=113.0
WIDGET_191_NAME=Widget_191
WIDGET_191_PRICE=115.33
WIDGET_192_NAME=Widget_192
WIDGET_192_PRICE=117.67
WIDGET_193_NAME=Widget_193
WIDGET_193_PRICE=120.0
WIDGET_194_NAME=Widget_194
WIDGET_194_PRICE=122.33
WIDGET_195_NAME=Widget_195
WIDGET_195_PRICE=124.67
WIDGET_196_NAME=Widget_196
WIDGET_196_PRICE=127.0
WIDGET_197_NAME=Widget_197
WIDGET_197_PRICE=129.33
WIDGET_198_NAME=Widget_198
WIDGET_198_PRICE=131.67
WIDGET_199_NAME=Widget_199
WIDGET_199_PRICE=134.0
WIDGET_200_NAME=Widget_200
WIDGET_200_PRICE=136.33
WIDGET_201_NAME=Widget_201
WIDGET_201_PRICE=138.67
WIDGET_202_NAME=Widget_202
WIDGET_202_PRICE=141.0
WIDGET_203_NAME=Widget_203
WIDGET_203_PRICE=143.33
WIDGET_204_NAME=Widget_204
WIDGET_204_PRICE=145.67
WIDGET_205_NAME=Widget_205
WIDGET_205_PRICE=148.0
WIDGET_206_NAME=Widget_206
WIDGET_206_PRICE=150.33
WIDGET_207_NAME=Widget_207
WIDGET_207_PRICE=152.67
WIDGET_208_NAME=Widget_208
WIDGET_208_PRICE=155.0
WIDGET_209_NAME=Widget_209
WIDGET_209_PRICE=157.33
WIDGET_210_NAME=Widget_210
WIDGET_210_PRICE=159.67
WIDGET_211_NAME=Widget_211
WIDGET_211_PRICE=162.0
WIDGET_212_NAME=Widget_212
WIDGET_212_PRICE=164.33
WIDGET_213_NAME=Widget_213
WIDGET_213_PRICE=166.67
WIDGET_214_NAME=Widget_214
WIDGET_214_PRICE=169.0
WIDGET_215_NAME=Widget_215
WIDGET_215_PRICE=4.67
WIDGET_216_NAME=Widget_216
WIDGET_216_PRICE=7.0
WIDGET_217_NAME=Widget_217
WIDGET_217_PRICE=9.33
WIDGET_218_NAME=Widget_218
WIDGET_218_PRICE=11.67
WIDGET_219_NAME=Widget_219
WIDGET_219_PRICE=14.0
WIDGET_220_NAME=Widget_220
WIDGET_220_PRICE=16.33
WIDGET_221_NAME=Widget_221
WIDGET_221_PRICE=18.67
WIDGET_222_NAME=Widget_222
WIDGET_222_PRICE=21.0
WIDGET_223_NAME=Widget_223
WIDGET_223_PRICE=23.33
WIDGET_224_NAME=Widget_224
WIDGET_224_PRICE=25.67
WIDGET_225_NAME=Widget_225
WIDGET_225_PRICE=28.0
WIDGET_226_NAME=Widget_226
WIDGET_226_PRICE=30.33
WIDGET_227_NAME=Widget_227
WIDGET_227_PRICE=32.67
WIDGET_228_NAME=Widget_228
WIDGET_228_PRICE=35.0
WIDGET_229_NAME=Widget_229
WIDGET_229_PRICE=37.33
WIDGET_230_NAME=Widget_230
WIDGET_230_PRICE=39.67
WIDGET_231_NAME=Widget_231
WIDGET_231_PRICE=42.0
WIDGET_232_NAME=Widget_232
WIDGET_232_PRICE=44.33
WIDGET_233_NAME=Widget_233
WIDGET_233_PRICE=46.67
WIDGET_234_NAME=Widget_234
WIDGET_234_PRICE=49.0
WIDGET_235_NAME=Widget_235
WIDGET_235_PRICE=51.33
WIDGET_236_NAME=Widget_236
WIDGET_236_PRICE=53.67
WIDGET_237_NAME=Widget_237
WIDGET_237_PRICE=56.0
WIDGET_238_NAME=Widget_238
WIDGET_238_PRICE=58.33
WIDGET_239_NAME=Widget_239
WIDGET_239_PRICE=60.67
WIDGET_240_NAME=Widget_240
WIDGET_240_PRICE=63.0
WIDGET_241_NAME=Widget_241
WIDGET_241_PRICE=65.33
WIDGET_242_NAME=Widget_242
WIDGET_242_PRICE=67.67
WIDGET_243_NAME=Widget_243
WIDGET_243_PRICE=70.0
WIDGET_244_NAME=Widget_244
WIDGET_244_PRICE=72.33
WIDGET_245_NAME=Widget_245
WIDGET_245_PRICE=74.67
WIDGET_246_NAME=Widget_246
WIDGET_246_PRICE=77.0
WIDGET_247_NAME=Widget_247
WIDGET_247_PRICE=79.33
WIDGET_248_NAME=Widget_248
WIDGET_248_PRICE=81.67
WIDGET_249_NAME=Widget_249
WIDGET_249_PRICE=84.0
WIDGET_250_NAME=Widget_250
WIDGET_250_PRICE=86.33
