APP_ENV=development
DEBUG=true
WIDGET_1_NAME=Widget_1
WIDGET_1_PRICE=5.33
WIDGET_2_NAME=Widget_2
WIDGET_2_PRICE=7.67
WIDGET_3_NAME=Widget_3
WIDGET_3_PRICE=10.0
WIDGET_4_NAME=Widget_4
WIDGET_4_PRICE=12.33
WIDGET_5_NAME=Widget_5
WIDGET_5_PRICE=14.67
WIDGET_6_NAME=Widget_6
WIDGET_6_PRICE=17.0
WIDGET_7_NAME=Widget_7
WIDGET_7_PRICE=19.33
WIDGET_8_NAME=Widget_8
WIDGET_8_PRICE=21.67
WIDGET_9_NAME=Widget_9
WIDGET_9_PRICE=24.0
WIDGET_10_NAME=Widget_10
WIDGET_10_PRICE=26.33
WIDGET_11_NAME=Widget_11
WIDGET_11_PRICE=28.67
WIDGET_12_NAME=Widget_12
WIDGET_12_PRICE=31.0
WIDGET_13_NAME=Widget_13
WIDGET_13_PRICE=33.33
WIDGET_14_NAME=Widget_14
WIDGET_14_PRICE=35.67
WIDGET_15_NAME=Widget_15
WIDGET_15_PRICE=38.0
WIDGET_16_NAME=Widget_16
WIDGET_16_PRICE=40.33
WIDGET_17_NAME=Widget_17
WIDGET_17_PRICE=42.67
WIDGET_18_NAME=Widget_18
WIDGET_18_PRICE=45.0
WIDGET_19_NAME=Widget_19
WIDGET_19_PRICE=47.33
WIDGET_20_NAME=Widget_20
WIDGET_20_PRICE=49.67
WIDGET_21_NAME=Widget_21
WIDGET_21_PRICE=52.0
WIDGET_22_NAME=Widget_22
WIDGET_22_PRICE=54.33
WIDGET_23_NAME=Widget_23
WIDGET_23_PRICE=56.67
WIDGET_24_NAME=Widget_24
WIDGET_24_PRICE=59.0
WIDGET_25_NAME=Widget_25
WIDGET_25_PRICE=61.33
WIDGET_26_NAME=Widget_26
WIDGET_26_PRICE=63.67
WIDGET_27_NAME=Widget_27
WIDGET_27_PRICE=66.0
WIDGET_28_NAME=Widget_28
WIDGET_28_PRICE=68.33
WIDGET_29_NAME=Widget_29
WIDGET_29_PRICE=70.67
WIDGET_30_NAME=Widget_30
WIDGET_30_PRICE=73.0
WIDGET_31_NAME=Widget_31
WIDGET_31_PRICE=75.33
WIDGET_32_NAME=Widget_32
WIDGET_32_PRICE=77.67
WIDGET_33_NAME=Widget_33
WIDGET_33_PRICE=80.0
WIDGET_34_NAME=Widget_34
WIDGET_34_PRICE=82.33
WIDGET_35_NAME=Widget_35
WIDGET_35_PRICE=84.67
WIDGET_36_NAME=Widget_36
WIDGET_36_PRICE=87.0
WIDGET_37_NAME=Widget_37
WIDGET_37_PRICE=89.33
WIDGET_38_NAME=Widget_38
WIDGET_38_PRICE=91.67
WIDGET_39_NAME=Widget_39
WIDGET_39_PRICE=94.0
WIDGET_40_NAME=Widget_40
WIDGET_40_PRICE=96.33
WIDGET_41_NAME=Widget_41
WIDGET_41_PRICE=98.67
WIDGET_42_NAME=Widget_42
WIDGET_42_PRICE=101.0
WIDGET_43_NAME=Widget_43
WIDGET_43_PRICE=103.33
WIDGET_44_NAME=Widget_44
WIDGET_44_PRICE=105.67
WIDGET_45_NAME=Widget_45
WIDGET_45_PRICE=108.0
WIDGET_46_NAME=Widget_46
WIDGET_46_PRICE=110.33
WIDGET_47_NAME=Widget_47
WIDGET_47_PRICE=112.67
WIDGET_48_NAME=Widget_48
WIDGET_48_PRICE=115.0
WIDGET_49_NAME=Widget_49
WIDGET_49_PRICE=117.33
WIDGET_50_NAME=Widget_50
WIDGET_50_PRICE=119.67
WIDGET_51_NAME=Widget_51
WIDGET_51_PRICE=122.0
WIDGET_52_NAME=Widget_52
WIDGET_52_PRICE=124.33
WIDGET_53_NAME=Widget_53
WIDGET_53_PRICE=126.67
WIDGET_54_NAME=Widget_54
WIDGET_54_PRICE=129.0
WIDGET_55_NAME=Widget_55
WIDGET_55_PRICE=131.33
WIDGET_56_NAME=Widget_56
WIDGET_56_PRICE=133.67
WIDGET_57_NAME=Widget_57
WIDGET_57_PRICE=136.0
WIDGET_58_NAME=Widget_58
WIDGET_58_PRICE=138.33
WIDGET_59_NAME=Widget_59
WIDGET_59_PRICE=140.67
WIDGET_60_NAME=Widget_60
WIDGET_60_PRICE=143.0
