APP_ENV=development
DEBUG=true
WIDGET_1_NAME=Widget_1
WIDGET_1_PRICE=5.33
WIDGET_2_NAME=Widget_2
WIDGET_2_PRICE=7.67
WIDGET_3_NAME=Widget_3
WIDGET_3_PRICE=10.0
WIDGET_4_NAME=Widget_4
WIDGET_4_PRICE=12.33
WIDGET_5_NAME=Widget_5
WIDGET_5_PRICE=14.67
WIDGET_6_NAME=Widget_6
WIDGET_6_PRICE=17.0
WIDGET_7_NAME=Widget_7
WIDGET_7_PRICE=19.33
WIDGET_8_NAME=Widget_8
WIDGET_8_PRICE=21.67
WIDGET_9_NAME=Widget_9
WIDGET_9_PRICE=24.0
WIDGET_10_NAME=Widget_10
WIDGET_10_PRICE=26.33
WIDGET_11_NAME=Widget_11
WIDGET_11_PRICE=28.67
WIDGET_12_NAME=Widget_12
WIDGET_12_PRICE=31.0
WIDGET_13_NAME=Widget_13
WIDGET_13_PRICE=33.33
WIDGET_14_NAME=Widget_14
WIDGET_14_PRICE=35.67
WIDGET_15_NAME=Widget_15
WIDGET_15_PRICE=38.0
WIDGET_16_NAME=Widget_16
WIDGET_16_PRICE=40.33
WIDGET_17_NAME=Widget_17
WIDGET_17_PRICE=42.67
WIDGET_18_NAME=Widget_18
WIDGET_18_PRICE=45.0
WIDGET_19_NAME=Widget_19
WIDGET_19_PRICE=47.33
WIDGET_20_NAME=Widget_20
WIDGET_20_PRICE=49.67
WIDGET_21_NAME=Widget_21
WIDGET_21_PRICE=52.0
WIDGET_22_NAME=Widget_22
WIDGET_22_PRICE=54.33
WIDGET_23_NAME=Widget_23
WIDGET_23_PRICE=56.67
WIDGET_24_NAME=Widget_24
WIDGET_24_PRICE=59.0
WIDGET_25_NAME=Widget_25
WIDGET_25_PRICE=61.33
WIDGET_26_NAME=Widget_26
WIDGET_26_PRICE=63.67
WIDGET_27_NAME=Widget_27
WIDGET_27_PRICE=66.0
WIDGET_28_NAME=Widget_28
WIDGET_28_PRICE=68.33
WIDGET_29_NAME=Widget_29
WIDGET_29_PRICE=70.67
WIDGET_30_NAME=Widget_30
WIDGET_30_PRICE=73.0
WIDGET_31_NAME=Widget_31
WIDGET_31_PRICE=75.33
WIDGET_32_NAME=Widget_32
WIDGET_32_PRICE=77.67
WIDGET_33_NAME=Widget_33
WIDGET_33_PRICE=80.0
WIDGET_34_NAME=Widget_34
WIDGET_34_PRICE=82.33
WIDGET_35_NAME=Widget_35
WIDGET_35_PRICE=84.67
WIDGET_36_NAME=Widget_36
WIDGET_36_PRICE=87.0
WIDGET_37_NAME=Widget_37
WIDGET_37_PRICE=89.33
WIDGET_38_NAME=Widget_38
WIDGET_38_PRICE=91.67
WIDGET_39_NAME=Widget_39
WIDGET_39_PRICE=94.0
WIDGET_40_NAME=Widget_40
WIDGET_40_PRICE=96.33
WIDGET_41_NAME=Widget_41
WIDGET_41_PRICE=98.67
WIDGET_42_NAME=Widget_42
WIDGET_42_PRICE=101.0
WIDGET_43_NAME=Widget_43
WIDGET_43_PRICE=103.33
WIDGET_44_NAME=Widget_44
WIDGET_44_PRICE=105.67
WIDGET_45_NAME=Widget_45
WIDGET_45_PRICE=108.0
WIDGET_46_NAME=Widget_46
WIDGET_46_PRICE=110.33
WIDGET_47_NAME=Widget_47
WIDGET_47_PRICE=112.67
WIDGET_48_NAME=Widget_48
WIDGET_48_PRICE=115.0
WIDGET_49_NAME=Widget_49
WIDGET_49_PRICE=117.33
WIDGET_50_NAME=Widget_50
WIDGET_50_PRICE=119.67
WIDGET_51_NAME=Widget_51
WIDGET_51_PRICE=122.0
WIDGET_52_NAME=Widget_52
WIDGET_52_PRICE=124.33
WIDGET_53_NAME=Widget_53
WIDGET_53_PRICE=126.67
WIDGET_54_NAME=Widget_54
WIDGET_54_PRICE=129.0
WIDGET_55_NAME=Widget_55
WIDGET_55_PRICE=131.33
WIDGET_56_NAME=Widget_56
WIDGET_56_PRICE=133.67
WIDGET_57_NAME=Widget_57
WIDGET_57_PRICE=136.0
WIDGET_58_NAME=Widget_58
WIDGET_58_PRICE=138.33
WIDGET_59_NAME=Widget_59
WIDGET_59_PRICE=140.67
WIDGET_60_NAME=Widget_60
WIDGET_60_PRICE=143.0
WIDGET_61_NAME=Widget_61
WIDGET_61_PRICE=145.33
WIDGET_62_NAME=Widget_62
WIDGET_62_PRICE=147.67
WIDGET_63_NAME=Widget_63
WIDGET_63_PRICE=150.0
WIDGET_64_NAME=Widget_64
WIDGET_64_PRICE=152.33
WIDGET_65_NAME=Widget_65
WIDGET_65_PRICE=154.67
WIDGET_66_NAME=Widget_66
WIDGET_66_PRICE=157.0
WIDGET_67_NAME=Widget_67
WIDGET_67_PRICE=159.33
WIDGET_68_NAME=Widget_68
WIDGET_68_PRICE=161.67
WIDGET_69_NAME=Widget_69
WIDGET_69_PRICE=164.0
WIDGET_70_NAME=Widget_70
WIDGET_70_PRICE=166.33
WIDGET_71_NAME=Widget_71
WIDGET_71_PRICE=168.67
WIDGET_72_NAME=Widget_72
WIDGET_72_PRICE=4.33
WIDGET_73_NAME=Widget_73
WIDGET_73_PRICE=6.67
WIDGET_74_NAME=Widget_74
WIDGET_74_PRICE=9.0
WIDGET_75_NAME=Widget_75
WIDGET_75_PRICE=11.33
WIDGET_76_NAME=Widget_76
WIDGET_76_PRICE=13.67
WIDGET_77_NAME=Widget_77
WIDGET_77_PRICE=16.0
WIDGET_78_NAME=Widget_78
WIDGET_78_PRICE=18.33
WIDGET_79_NAME=Widget_79
WIDGET_79_PRICE=20.67
WIDGET_80_NAME=Widget_80
WIDGET_80_PRICE=23.0
WIDGET_81_NAME=Widget_81
WIDGET_81_PRICE=25.33
WIDGET_82_NAME=Widget_82
WIDGET_82_PRICE=27.67
WIDGET_83_NAME=Widget_83
WIDGET_83_PRICE=30.0
WIDGET_84_NAME=Widget_84
WIDGET_84_PRICE=32.33
WIDGET_85_NAME=Widget_85
WIDGET_85_PRICE=34.67
WIDGET_86_NAME=Widget_86
WIDGET_86_PRICE=37.0
WIDGET_87_NAME=Widget_87
WIDGET_87_PRICE=39.33
WIDGET_88_NAME=Widget_88
WIDGET_88_PRICE=41.67
WIDGET_89_NAME=Widget_89
WIDGET_89_PRICE=44.0
WIDGET_90_NAME=Widget_90
WIDGET_90_PRICE=46.33
WIDGET_91_NAME=Widget_91
WIDGET_91_PRICE=48.67
WIDGET_92_NAME=Widget_92
WIDGET_92_PRICE=51.0
WIDGET_93_NAME=Widget_93
WIDGET_93_PRICE=53.33
WIDGET_94_NAME=Widget_94
WIDGET_94_PRICE=55.67
WIDGET_95_NAME=Widget_95
WIDGET_95_PRICE=58.0
WIDGET_96_NAME=Widget_96
WIDGET_96_PRICE=60.33
WIDGET_97_NAME=Widget_97
WIDGET_97_PRICE=62.67
WIDGET_98_NAME=Widget_98
WIDGET_98_PRICE=65.0
WIDGET_99_NAME=Widget_99
WIDGET_99_PRICE=67.33
WIDGET_100_NAME=Widget_100
WIDGET_100_PRICE=69.67
WIDGET_101_NAME=Widget_101
WIDGET_101_PRICE=72.0
WIDGET_102_NAME=Widget_102
WIDGET_102_PRICE=74.33
WIDGET_103_NAME=Widget_103
WIDGET_103_PRICE=76.67
WIDGET_104_NAME=Widget_104
WIDGET_104_PRICE=79.0
WIDGET_105_NAME=Widget_105
WIDGET_105_PRICE=81.33
WIDGET_106_NAME=Widget_106
WIDGET_106_PRICE=83.67
WIDGET_107_NAME=Widget_107
WIDGET_107_PRICE=86.0
WIDGET_108_NAME=Widget_108
WIDGET_108_PRICE=88.33
WIDGET_109_NAME=Widget_109
WIDGET_109_PRICE=90.67
WIDGET_110_NAME=Widget_110
WIDGET_110_PRICE=93.0
WIDGET_111_NAME=Widget_111
WIDGET_111_PRICE=95.33
WIDGET_112_NAME=Widget_112
WIDGET_112_PRICE=97.67
WIDGET_113_NAME=Widget_113
WIDGET_113_PRICE=100.0
WIDGET_114_NAME=Widget_114
WIDGET_114_PRICE=102.33
WIDGET_115_NAME=Widget_115
WIDGET_115_PRICE=104.67
WIDGET_116_NAME=Widget_116
WIDGET_116_PRICE=107.0
WIDGET_117_NAME=Widget_117
WIDGET_117_PRICE=109.33
WIDGET_118_NAME=Widget_118
WIDGET_118_PRICE=111.67
WIDGET_119_NAME=Widget_119
WIDGET_119_PRICE=114.0
WIDGET_120_NAME=Widget_120
WIDGET_120_PRICE=116.33
