APP_ENV=development
DEBUG=true
WIDGET_1_NAME=Widget_1
WIDGET_1_PRICE=5.33
WIDGET_2_NAME=Widget_2
WIDGET_2_PRICE=7.67
WIDGET_3_NAME=Widget_3
WIDGET_3_PRICE=10.0
WIDGET_4_NAME=Widget_4
WIDGET_4_PRICE=12.33
WIDGET_5_NAME=Widget_5
WIDGET_5_PRICE=14.67
WIDGET_6_NAME=Widget_6
WIDGET_6_PRICE=17.0
WIDGET_7_NAME=Widget_7
WIDGET_7_PRICE=19.33
WIDGET_8_NAME=Widget_8
WIDGET_8_PRICE=21.67
WIDGET_9_NAME=Widget_9
WIDGET_9_PRICE=24.0
WIDGET_10_NAME=Widget_10
WIDGET_10_PRICE=26.33
WIDGET_11_NAME=Widget_11
WIDGET_11_PRICE=28.67
WIDGET_12_NAME=Widget_12
WIDGET_12_PRICE=31.0
WIDGET_13_NAME=Widget_13
WIDGET_13_PRICE=33.33
WIDGET_14_NAME=Widget_14
WIDGET_14_PRICE=35.67
WIDGET_15_NAME=Widget_15
WIDGET_15_PRICE=38.0
WIDGET_16_NAME=Widget_16
WIDGET_16_PRICE=40.33
WIDGET_17_NAME=Widget_17
WIDGET_17_PRICE=42.67
WIDGET_18_NAME=Widget_18
WIDGET_18_PRICE=45.0
WIDGET_19_NAME=Widget_19
WIDGET_19_PRICE=47.33
WIDGET_20_NAME=Widget_20
WIDGET_20_PRICE=49.67
WIDGET_21_NAME=Widget_21
WIDGET_21_PRICE=52.0
WIDGET_22_NAME=Widget_22
WIDGET_22_PRICE=54.33
WIDGET_23_NAME=Widget_23
WIDGET_23_PRICE=56.67
WIDGET_24_NAME=Widget_24
WIDGET_24_PRICE=59.0
WIDGET_25_NAME=Widget_25
WIDGET_25_PRICE=61.33
WIDGET_26_NAME=Widget_26
WIDGET_26_PRICE=63.67
WIDGET_27_NAME=Widget_27
WIDGET_27_PRICE=66.0
WIDGET_28_NAME=Widget_28
WIDGET_28_PRICE=68.33
WIDGET_29_NAME=Widget_29
WIDGET_29_PRICE=70.67
WIDGET_30_NAME=Widget_30
WIDGET_30_PRICE=73.0
