body { font-family: sans-serif; color: #333; }
.item-0 { color: #000000; margin: 0px; }
.item-1 { color: #61350d; margin: 1px; }
.item-2 { color: #c26a1a; margin: 2px; }
.item-3 { color: #239f27; margin: 3px; }
.item-4 { color: #84d434; margin: 4px; }
.item-5 { color: #e50941; margin: 5px; }
.item-6 { color: #463e4e; margin: 6px; }
.item-7 { color: #a7735b; margin: 7px; }
.item-8 { color: #08a868; margin: 8px; }
.item-9 { color: #69dd75; margin: 9px; }
.item-10 { color: #ca1282; margin: 10px; }
.item-11 { color: #2b478f; margin: 11px; }
.item-12 { color: #8c7c9c; margin: 12px; }
.item-13 { color: #edb1a9; margin: 13px; }
.item-14 { color: #4ee6b6; margin: 14px; }
.item-15 { color: #af1bc3; margin: 15px; }
.item-16 { color: #1050d0; margin: 16px; }
.item-17 { color: #7185dd; margin: 17px; }
.item-18 { color: #d2baea; margin: 18px; }
.item-19 { color: #33eff7; margin: 19px; }
.item-20 { color: #942404; margin: 0px; }
.item-21 { color: #f55911; margin: 1px; }
.item-22 { color: #568e1e; margin: 2px; }
.item-23 { color: #b7c32b; margin: 3px; }
.item-24 { color: #18f838; margin: 4px; }
.item-25 { color: #792d45; margin: 5px; }
.item-26 { color: #da6252; margin: 6px; }
.item-27 { color: #3b975f; margin: 7px; }
.item-28 { color: #9ccc6c; margin: 8px; }
.item-29 { color: #fd0179; margin: 9px; }
.item-30 { color: #5e3686; margin: 10px; }
.item-31 { color: #bf6b93; margin: 11px; }
.item-32 { color: #20a0a0; margin: 12px; }
.item-33 { color: #81d5ad; margin: 13px; }
.item-34 { color: #e20aba; margin: 14px; }
.item-35 { color: #433fc7; margin: 15px; }
.item-36 { color: #a474d4; margin: 16px; }
.item-37 { color: #05a9e1; margin: 17px; }
.item-38 { color: #66deee; margin: 18px; }
.item-39 { color: #c713fb; margin: 19px; }
