body { font-family: sans-serif; color: #333; }
.item-0 { color: #000000; margin: 0px; }
.item-1 { color: #61350d; margin: 1px; }
.item-2 { color: #c26a1a; margin: 2px; }
.item-3 { color: #239f27; margin: 3px; }
.item-4 { color: #84d434; margin: 4px; }
.item-5 { color: #e50941; margin: 5px; }
.item-6 { color: #463e4e; margin: 6px; }
.item-7 { color: #a7735b; margin: 7px; }
.item-8 { color: #08a868; margin: 8px; }
.item-9 { color: #69dd75; margin: 9px; }
.item-10 { color: #ca1282; margin: 10px; }
.item-11 { color: #2b478f; margin: 11px; }
.item-12 { color: #8c7c9c; margin: 12px; }
.item-13 { color: #edb1a9; margin: 13px; }
.item-14 { color: #4ee6b6; margin: 14px; }
