body { font-family: sans-serif; color: #333; }
.item-0 { color: #000000; margin: 0px; }
.item-1 { color: #61350d; margin: 1px; }
.item-2 { color: #c26a1a; margin: 2px; }
.item-3 { color: #239f27; margin: 3px; }
.item-4 { color: #84d434; margin: 4px; }
.item-5 { color: #e50941; margin: 5px; }
.item-6 { color: #463e4e; margin: 6px; }
.item-7 { color: #a7735b; margin: 7px; }
.item-8 { color: #08a868; margin: 8px; }
.item-9 { color: #69dd75; margin: 9px; }
.item-10 { color: #ca1282; margin: 10px; }
.item-11 { color: #2b478f; margin: 11px; }
.item-12 { color: #8c7c9c; margin: 12px; }
.item-13 { color: #edb1a9; margin: 13px; }
.item-14 { color: #4ee6b6; margin: 14px; }
.item-15 { color: #af1bc3; margin: 15px; }
.item-16 { color: #1050d0; margin: 16px; }
.item-17 { color: #7185dd; margin: 17px; }
.item-18 { color: #d2baea; margin: 18px; }
.item-19 { color: #33eff7; margin: 19px; }
.item-20 { color: #942404; margin: 0px; }
.item-21 { color: #f55911; margin: 1px; }
.item-22 { color: #568e1e; margin: 2px; }
.item-23 { color: #b7c32b; margin: 3px; }
.item-24 { color: #18f838; margin: 4px; }
.item-25 { color: #792d45; margin: 5px; }
.item-26 { color: #da6252; margin: 6px; }
.item-27 { color: #3b975f; margin: 7px; }
.item-28 { color: #9ccc6c; margin: 8px; }
.item-29 { color: #fd0179; margin: 9px; }
.item-30 { color: #5e3686; margin: 10px; }
.item-31 { color: #bf6b93; margin: 11px; }
.item-32 { color: #20a0a0; margin: 12px; }
.item-33 { color: #81d5ad; margin: 13px; }
.item-34 { color: #e20aba; margin: 14px; }
.item-35 { color: #433fc7; margin: 15px; }
.item-36 { color: #a474d4; margin: 16px; }
.item-37 { color: #05a9e1; margin: 17px; }
.item-38 { color: #66deee; margin: 18px; }
.item-39 { color: #c713fb; margin: 19px; }
.item-40 { color: #284808; margin: 0px; }
.item-41 { color: #897d15; margin: 1px; }
.item-42 { color: #eab222; margin: 2px; }
.item-43 { color: #4be72f; margin: 3px; }
.item-44 { color: #ac1c3c; margin: 4px; }
.item-45 { color: #0d5149; margin: 5px; }
.item-46 { color: #6e8656; margin: 6px; }
.item-47 { color: #cfbb63; margin: 7px; }
.item-48 { color: #30f070; margin: 8px; }
.item-49 { color: #91257d; margin: 9px; }
.item-50 { color: #f25a8a; margin: 10px; }
.item-51 { color: #538f97; margin: 11px; }
.item-52 { color: #b4c4a4; margin: 12px; }
.item-53 { color: #15f9b1; margin: 13px; }
.item-54 { color: #762ebe; margin: 14px; }
.item-55 { color: #d763cb; margin: 15px; }
.item-56 { color: #3898d8; margin: 16px; }
.item-57 { color: #99cde5; margin: 17px; }
.item-58 { color: #fa02f2; margin: 18px; }
.item-59 { color: #5b37ff; margin: 19px; }
.item-60 { color: #bc6c0c; margin: 0px; }
.item-61 { color: #1da119; margin: 1px; }
.item-62 { color: #7ed626; margin: 2px; }
.item-63 { color: #df0b33; margin: 3px; }
.item-64 { color: #404040; margin: 4px; }
.item-65 { color: #a1754d; margin: 5px; }
.item-66 { color: #02aa5a; margin: 6px; }
.item-67 { color: #63df67; margin: 7px; }
.item-68 { color: #c41474; margin: 8px; }
.item-69 { color: #254981; margin: 9px; }
.item-70 { color: #867e8e; margin: 10px; }
.item-71 { color: #e7b39b; margin: 11px; }
.item-72 { color: #48e8a8; margin: 12px; }
.item-73 { color: #a91db5; margin: 13px; }
.item-74 { color: #0a52c2; margin: 14px; }
.item-75 { color: #6b87cf; margin: 15px; }
.item-76 { color: #ccbcdc; margin: 16px; }
.item-77 { color: #2df1e9; margin: 17px; }
.item-78 { color: #8e26f6; margin: 18px; }
.item-79 { color: #ef5b03; margin: 19px; }
.item-80 { color: #509010; margin: 0px; }
.item-81 { color: #b1c51d; margin: 1px; }
.item-82 { color: #12fa2a; margin: 2px; }
.item-83 { color: #732f37; margin: 3px; }
.item-84 { color: #d46444; margin: 4px; }
.item-85 { color: #359951; margin: 5px; }
.item-86 { color: #96ce5e; margin: 6px; }
.item-87 { color: #f7036b; margin: 7px; }
.item-88 { color: #583878; margin: 8px; }
.item-89 { color: #b96d85; margin: 9px; }
.item-90 { color: #1aa292; margin: 10px; }
.item-91 { color: #7bd79f; margin: 11px; }
.item-92 { color: #dc0cac; margin: 12px; }
.item-93 { color: #3d41b9; margin: 13px; }
.item-94 { color: #9e76c6; margin: 14px; }
.item-95 { color: #ffabd3; margin: 15px; }
.item-96 { color: #60e0e0; margin: 16px; }
.item-97 { color: #c115ed; margin: 17px; }
.item-98 { color: #224afa; margin: 18px; }
.item-99 { color: #837f07; margin: 19px; }
