body { font-family: sans-serif; color: #333; }
.item-0 { color: #000000; margin: 0px; }
.item-1 { color: #61350d; margin: 1px; }
.item-2 { color: #c26a1a; margin: 2px; }
.item-3 { color: #239f27; margin: 3px; }
.item-4 { color: #84d434; margin: 4px; }
