body { font-family: sans-serif; color: #333; }
.item-0 { color: #000000; margin: 0px; }
.item-1 { color: #61350d; margin: 1px; }
.item-2 { color: #c26a1a; margin: 2px; }
.item-3 { color: #239f27; margin: 3px; }
.item-4 { color: #84d434; margin: 4px; }
.item-5 { color: #e50941; margin: 5px; }
.item-6 { color: #463e4e; margin: 6px; }
.item-7 { color: #a7735b; margin: 7px; }
.item-8 { color: #08a868; margin: 8px; }
.item-9 { color: #69dd75; margin: 9px; }
.item-10 { color: #ca1282; margin: 10px; }
.item-11 { color: #2b478f; margin: 11px; }
.item-12 { color: #8c7c9c; margin: 12px; }
.item-13 { color: #edb1a9; margin: 13px; }
.item-14 { color: #4ee6b6; margin: 14px; }
.item-15 { color: #af1bc3; margin: 15px; }
.item-16 { color: #1050d0; margin: 16px; }
.item-17 { color: #7185dd; margin: 17px; }
.item-18 { color: #d2baea; margin: 18px; }
.item-19 { color: #33eff7; margin: 19px; }
.item-20 { color: #942404; margin: 0px; }
.item-21 { color: #f55911; margin: 1px; }
.item-22 { color: #568e1e; margin: 2px; }
.item-23 { color: #b7c32b; margin: 3px; }
.item-24 { color: #18f838; margin: 4px; }
.item-25 { color: #792d45; margin: 5px; }
.item-26 { color: #da6252; margin: 6px; }
.item-27 { color: #3b975f; margin: 7px; }
.item-28 { color: #9ccc6c; margin: 8px; }
.item-29 { color: #fd0179; margin: 9px; }
.item-30 { color: #5e3686; margin: 10px; }
.item-31 { color: #bf6b93; margin: 11px; }
.item-32 { color: #20a0a0; margin: 12px; }
.item-33 { color: #81d5ad; margin: 13px; }
.item-34 { color: #e20aba; margin: 14px; }
.item-35 { color: #433fc7; margin: 15px; }
.item-36 { color: #a474d4; margin: 16px; }
.item-37 { color: #05a9e1; margin: 17px; }
.item-38 { color: #66deee; margin: 18px; }
.item-39 { color: #c713fb; margin: 19px; }
.item-40 { color: #284808; margin: 0px; }
.item-41 { color: #897d15; margin: 1px; }
.item-42 { color: #eab222; margin: 2px; }
.item-43 { color: #4be72f; margin: 3px; }
.item-44 { color: #ac1c3c; margin: 4px; }
.item-45 { color: #0d5149; margin: 5px; }
.item-46 { color: #6e8656; margin: 6px; }
.item-47 { color: #cfbb63; margin: 7px; }
.item-48 { color: #30f070; margin: 8px; }
.item-49 { color: #91257d; margin: 9px; }
.item-50 { color: #f25a8a; margin: 10px; }
.item-51 { color: #538f97; margin: 11px; }
.item-52 { color: #b4c4a4; margin: 12px; }
.item-53 { color: #15f9b1; margin: 13px; }
.item-54 { color: #762ebe; margin: 14px; }
.item-55 { color: #d763cb; margin: 15px; }
.item-56 { color: #3898d8; margin: 16px; }
.item-57 { color: #99cde5; margin: 17px; }
.item-58 { color: #fa02f2; margin: 18px; }
.item-59 { color: #5b37ff; margin: 19px; }
.item-60 { color: #bc6c0c; margin: 0px; }
.item-61 { color: #1da119; margin: 1px; }
.item-62 { color: #7ed626; margin: 2px; }
.item-63 { color: #df0b33; margin: 3px; }
.item-64 { color: #404040; margin: 4px; }
.item-65 { color: #a1754d; margin: 5px; }
.item-66 { color: #02aa5a; margin: 6px; }
.item-67 { color: #63df67; margin: 7px; }
.item-68 { color: #c41474; margin: 8px; }
.item-69 { color: #254981; margin: 9px; }
.item-70 { color: #867e8e; margin: 10px; }
.item-71 { color: #e7b39b; margin: 11px; }
.item-72 { color: #48e8a8; margin: 12px; }
.item-73 { color: #a91db5; margin: 13px; }
.item-74 { color: #0a52c2; margin: 14px; }
.item-75 { color: #6b87cf; margin: 15px; }
.item-76 { color: #ccbcdc; margin: 16px; }
.item-77 { color: #2df1e9; margin: 17px; }
.item-78 { color: #8e26f6; margin: 18px; }
.item-79 { color: #ef5b03; margin: 19px; }
.item-80 { color: #509010; margin: 0px; }
.item-81 { color: #b1c51d; margin: 1px; }
.item-82 { color: #12fa2a; margin: 2px; }
.item-83 { color: #732f37; margin: 3px; }
.item-84 { color: #d46444; margin: 4px; }
.item-85 { color: #359951; margin: 5px; }
.item-86 { color: #96ce5e; margin: 6px; }
.item-87 { color: #f7036b; margin: 7px; }
.item-88 { color: #583878; margin: 8px; }
.item-89 { color: #b96d85; margin: 9px; }
.item-90 { color: #1aa292; margin: 10px; }
.item-91 { color: #7bd79f; margin: 11px; }
.item-92 { color: #dc0cac; margin: 12px; }
.item-93 { color: #3d41b9; margin: 13px; }
.item-94 { color: #9e76c6; margin: 14px; }
.item-95 { color: #ffabd3; margin: 15px; }
.item-96 { color: #60e0e0; margin: 16px; }
.item-97 { color: #c115ed; margin: 17px; }
.item-98 { color: #224afa; margin: 18px; }
.item-99 { color: #837f07; margin: 19px; }
.item-100 { color: #e4b414; margin: 0px; }
.item-101 { color: #45e921; margin: 1px; }
.item-102 { color: #a61e2e; margin: 2px; }
.item-103 { color: #07533b; margin: 3px; }
.item-104 { color: #688848; margin: 4px; }
.item-105 { color: #c9bd55; margin: 5px; }
.item-106 { color: #2af262; margin: 6px; }
.item-107 { color: #8b276f; margin: 7px; }
.item-108 { color: #ec5c7c; margin: 8px; }
.item-109 { color: #4d9189; margin: 9px; }
.item-110 { color: #aec696; margin: 10px; }
.item-111 { color: #0ffba3; margin: 11px; }
.item-112 { color: #7030b0; margin: 12px; }
.item-113 { color: #d165bd; margin: 13px; }
.item-114 { color: #329aca; margin: 14px; }
.item-115 { color: #93cfd7; margin: 15px; }
.item-116 { color: #f404e4; margin: 16px; }
.item-117 { color: #5539f1; margin: 17px; }
.item-118 { color: #b66efe; margin: 18px; }
.item-119 { color: #17a30b; margin: 19px; }
.item-120 { color: #78d818; margin: 0px; }
.item-121 { color: #d90d25; margin: 1px; }
.item-122 { color: #3a4232; margin: 2px; }
.item-123 { color: #9b773f; margin: 3px; }
.item-124 { color: #fcac4c; margin: 4px; }
.item-125 { color: #5de159; margin: 5px; }
.item-126 { color: #be1666; margin: 6px; }
.item-127 { color: #1f4b73; margin: 7px; }
.item-128 { color: #808080; margin: 8px; }
.item-129 { color: #e1b58d; margin: 9px; }
.item-130 { color: #42ea9a; margin: 10px; }
.item-131 { color: #a31fa7; margin: 11px; }
.item-132 { color: #0454b4; margin: 12px; }
.item-133 { color: #6589c1; margin: 13px; }
.item-134 { color: #c6bece; margin: 14px; }
.item-135 { color: #27f3db; margin: 15px; }
.item-136 { color: #8828e8; margin: 16px; }
.item-137 { color: #e95df5; margin: 17px; }
.item-138 { color: #4a9202; margin: 18px; }
.item-139 { color: #abc70f; margin: 19px; }
.item-140 { color: #0cfc1c; margin: 0px; }
.item-141 { color: #6d3129; margin: 1px; }
.item-142 { color: #ce6636; margin: 2px; }
.item-143 { color: #2f9b43; margin: 3px; }
.item-144 { color: #90d050; margin: 4px; }
.item-145 { color: #f1055d; margin: 5px; }
.item-146 { color: #523a6a; margin: 6px; }
.item-147 { color: #b36f77; margin: 7px; }
.item-148 { color: #14a484; margin: 8px; }
.item-149 { color: #75d991; margin: 9px; }
.item-150 { color: #d60e9e; margin: 10px; }
.item-151 { color: #3743ab; margin: 11px; }
.item-152 { color: #9878b8; margin: 12px; }
.item-153 { color: #f9adc5; margin: 13px; }
.item-154 { color: #5ae2d2; margin: 14px; }
.item-155 { color: #bb17df; margin: 15px; }
.item-156 { color: #1c4cec; margin: 16px; }
.item-157 { color: #7d81f9; margin: 17px; }
.item-158 { color: #deb606; margin: 18px; }
.item-159 { color: #3feb13; margin: 19px; }
.item-160 { color: #a02020; margin: 0px; }
.item-161 { color: #01552d; margin: 1px; }
.item-162 { color: #628a3a; margin: 2px; }
.item-163 { color: #c3bf47; margin: 3px; }
.item-164 { color: #24f454; margin: 4px; }
.item-165 { color: #852961; margin: 5px; }
.item-166 { color: #e65e6e; margin: 6px; }
.item-167 { color: #47937b; margin: 7px; }
.item-168 { color: #a8c888; margin: 8px; }
.item-169 { color: #09fd95; margin: 9px; }
.item-170 { color: #6a32a2; margin: 10px; }
.item-171 { color: #cb67af; margin: 11px; }
.item-172 { color: #2c9cbc; margin: 12px; }
.item-173 { color: #8dd1c9; margin: 13px; }
.item-174 { color: #ee06d6; margin: 14px; }
.item-175 { color: #4f3be3; margin: 15px; }
.item-176 { color: #b070f0; margin: 16px; }
.item-177 { color: #11a5fd; margin: 17px; }
.item-178 { color: #72da0a; margin: 18px; }
.item-179 { color: #d30f17; margin: 19px; }
.item-180 { color: #344424; margin: 0px; }
.item-181 { color: #957931; margin: 1px; }
.item-182 { color: #f6ae3e; margin: 2px; }
.item-183 { color: #57e34b; margin: 3px; }
.item-184 { color: #b81858; margin: 4px; }
.item-185 { color: #194d65; margin: 5px; }
.item-186 { color: #7a8272; margin: 6px; }
.item-187 { color: #dbb77f; margin: 7px; }
.item-188 { color: #3cec8c; margin: 8px; }
.item-189 { color: #9d2199; margin: 9px; }
.item-190 { color: #fe56a6; margin: 10px; }
.item-191 { color: #5f8bb3; margin: 11px; }
.item-192 { color: #c0c0c0; margin: 12px; }
.item-193 { color: #21f5cd; margin: 13px; }
.item-194 { color: #822ada; margin: 14px; }
.item-195 { color: #e35fe7; margin: 15px; }
.item-196 { color: #4494f4; margin: 16px; }
.item-197 { color: #a5c901; margin: 17px; }
.item-198 { color: #06fe0e; margin: 18px; }
.item-199 { color: #67331b; margin: 19px; }
.item-200 { color: #c86828; margin: 0px; }
.item-201 { color: #299d35; margin: 1px; }
.item-202 { color: #8ad242; margin: 2px; }
.item-203 { color: #eb074f; margin: 3px; }
.item-204 { color: #4c3c5c; margin: 4px; }
.item-205 { color: #ad7169; margin: 5px; }
.item-206 { color: #0ea676; margin: 6px; }
.item-207 { color: #6fdb83; margin: 7px; }
.item-208 { color: #d01090; margin: 8px; }
.item-209 { color: #31459d; margin: 9px; }
.item-210 { color: #927aaa; margin: 10px; }
.item-211 { color: #f3afb7; margin: 11px; }
.item-212 { color: #54e4c4; margin: 12px; }
.item-213 { color: #b519d1; margin: 13px; }
.item-214 { color: #164ede; margin: 14px; }
.item-215 { color: #7783eb; margin: 15px; }
.item-216 { color: #d8b8f8; margin: 16px; }
.item-217 { color: #39ed05; margin: 17px; }
.item-218 { color: #9a2212; margin: 18px; }
.item-219 { color: #fb571f; margin: 19px; }
.item-220 { color: #5c8c2c; margin: 0px; }
.item-221 { color: #bdc139; margin: 1px; }
.item-222 { color: #1ef646; margin: 2px; }
.item-223 { color: #7f2b53; margin: 3px; }
.item-224 { color: #e06060; margin: 4px; }
.item-225 { color: #41956d; margin: 5px; }
.item-226 { color: #a2ca7a; margin: 6px; }
.item-227 { color: #03ff87; margin: 7px; }
.item-228 { color: #643494; margin: 8px; }
.item-229 { color: #c569a1; margin: 9px; }
.item-230 { color: #269eae; margin: 10px; }
.item-231 { color: #87d3bb; margin: 11px; }
.item-232 { color: #e808c8; margin: 12px; }
.item-233 { color: #493dd5; margin: 13px; }
.item-234 { color: #aa72e2; margin: 14px; }
.item-235 { color: #0ba7ef; margin: 15px; }
.item-236 { color: #6cdcfc; margin: 16px; }
.item-237 { color: #cd1109; margin: 17px; }
.item-238 { color: #2e4616; margin: 18px; }
.item-239 { color: #8f7b23; margin: 19px; }
.item-240 { color: #f0b030; margin: 0px; }
.item-241 { color: #51e53d; margin: 1px; }
.item-242 { color: #b21a4a; margin: 2px; }
.item-243 { color: #134f57; margin: 3px; }
.item-244 { color: #748464; margin: 4px; }
.item-245 { color: #d5b971; margin: 5px; }
.item-246 { color: #36ee7e; margin: 6px; }
.item-247 { color: #97238b; margin: 7px; }
.item-248 { color: #f85898; margin: 8px; }
.item-249 { color: #598da5; margin: 9px; }
